body {
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  padding: 15px;
  width: 250px;
}

h2 {
  margin-top: 0;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

button {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  border-radius: 10%;
  height: auto;
  width: fit-content;
}

ul {
  padding-left: 15px;
}

.blocked-container {
  text-align: center;
  margin-top: 50px;
}

.end{
  background-color: rgb(212, 83, 83);
  border: 30%;
}

#addDomain, #addKeyword{
  background-color: greenyellow;
}

#complete{
  border-radius: 20%;
}